@model IEnumerable<VehicleShowRoomManager.Models.VehicleModel>

@foreach (var item in Model)
{
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="product-thumbnail">
            <div class="product-img-head">
                <div class="product-img">
                    <img src="@item.ModelImages.First().GetAllImages().First()" alt="" class="img-fluid">
                </div>
                <div class="ribbons"></div>
                <div class="ribbons-text"> New</div>

            </div>
            <div class="product-content">
                <div class="product-content-head">
                    <h3 class="product-title">   @Html.DisplayFor(modelItem => item.ModelName)</h3>
                    <div class="product-rating d-inline-block">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                    <div class="product-price">&dollar; @Html.DisplayFor(modelItem => item.Vehicles.First().SalePrice)</div>
                </div>
                <div class="product-btn">
                    @*@if (item.Status == VehicleShowRoomManager.Models.Vehicle.VehicleStatus.Available || item.Status == VehicleShowRoomManager.Models.Vehicle.VehicleStatus.Used)
                    {
                        <a href="@Url.Action("CreateSaleOrderOfAnVehicle", new { id = item.Id})" class="btn btn-primary">Create Order</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary disabled" onclick="alertError()">Create Order</button>
                    }
                    @Html.ActionLink("Detail", "VehicleDetail", new { id = item.Id }, new { @class = "btn btn-outline-info" })*@
                </div>
            </div>
        </div>
    </div>
}
