@model VehicleShowRoomManager.Models.GoodsReceipt

@{
    ViewBag.Title = "GoodReceiptDetail";
}
<link href="@Url.Content("~/Content/receipt.css")" rel="stylesheet" />

<h2>GOOD RECEIPT DETAIL</h2>
<div class="receipt">

    <div class="header">
        <div class="row">
            <div class="col-xl-6 title">Invoice</div>
            <div class="col-xl-3 left">
                <div class="phone">0399.666.888</div>
                <div class="email">showroom@gmail.com</div>
                <div class="website">showroom.com</div>
            </div>

            <div class="col-xl-3 right">
                <div class="address">1 Your Address</div>
                <div class="address">City, State, Country</div>
                <div class="zipcode">100000</div>
            </div>
        </div>
    </div>
    <div class="body-receipt">

        <div class="row customer">
            <div class="col-xl-3 left">
                <div class="text-grey">From</div>
                <div class="text-black">Showroom Name</div>
                <div class="text-black">1 Client Address</div>
                <div class="text-black">City, State, Country</div>
                <div class="text-black">1000000</div>
            </div>

            <div class="col-xl-3 right">
                <div class="text-grey">Invoice Number</div>
                <div class="text-black m-b-30"><span>00000</span>@Model.Id</div>
                <div class="title-grey">Date of Issue</div>
                <div class="text-black">@Model.CreatedAt</div>
            </div>
            <div class="col-xl-6 title">
                <div class="text-grey">Invoice Total</div>
                <div class="text-blue">&dollar;@Model.ReceiptPrice</div>
            </div>
        </div>
        <div class="row title-table p-t-30">
            <div class="col-xl-3 left">Invoice Information</div>
            <div class="col-xl-3"></div>
            <div class="col-xl-2 p-r-25">PrePaymemt</div>
            <div class="col-xl-2 p-r-0">Qty/ Hr Rate</div>
            <div class="col-xl-2">Amount</div>
        </div>
        <div class="row item-table p-t-30">
            <div class="col-xl-6 left">
                <div class="text-black">@Model.Vehicle.Name</div>
                <div class="text-grey">VIN: @Model.Vehicle.VIN </div>
                <div class="text-grey">FN: @Model.Vehicle.FN </div>
            </div>
            <div class="col-xl-2 p-r-25"> <div class="text-black m-b-30">$ @Model.PrepaymentMoney </div></div>
            <div class="col-xl-2 p-r-0"> <div class="text-black m-b-30">1</div></div>
            <div class="col-xl-2"> <div class="text-black m-b-30">1</div></div>
        </div>
        <div class="total-money">

            <div class="row total total-first">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-3 p-r-0"> <div class="text-blue">Subtotal</div></div>
                <div class="col-xl-3"> <div class="text-black m-b-30">&dollar; @Model.PrepaymentMoney</div></div>
            </div>
            <div class="row total">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-3 p-r-0"> <div class="text-blue">Tax</div></div>
                <div class="col-xl-3"> <div class="text-black m-b-30">&dollar; @ViewBag.Tax</div></div>
            </div>
            <div class="row total">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-3 p-r-0"> <div class="text-blue">Total</div></div>
                <div class="col-xl-3"> <div class="text-black m-b-30">&dollar; @ViewBag.Total</div></div>
            </div>
            <div class="row total-last">
                <div class="col-xl-6">
                    <div class="text-grey">Invoice Terms</div>
                    <div class="text-black">Ex. Please pay your invoice by ...</div>
                </div>

                <div class="col-xl-3"> <div class="text-blue">Amount Due (USD)</div></div>
                <div class="col-xl-3"> <div class="text-black">&dollar; @ViewBag.Total</div></div>

            </div>
        </div>

    </div>
</div>

@section pageScripts {
   

}