﻿@model IEnumerable<VehicleShowRoomManager.Models.VehicleModel>

@{ Layout = null; }

@{ ViewBag.Title = "ListVehicle";
    List<VehicleShowRoomManager.Models.VehicleModel> listModels = ViewBag.ListModels as List<VehicleShowRoomManager.Models.VehicleModel>;
    List<VehicleShowRoomManager.Models.Brand> listBrands = ViewBag.ListBrands as List<VehicleShowRoomManager.Models.Brand>; }
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="@Url.Content("~/Content/assets/libs/css/ListVehicle.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/page-list.css")" rel="stylesheet" />
    <title>Customer</title>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">SHOWROOM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        @if (Request.IsAuthenticated)
                        {
            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">

                    <form action="@Url.Action("LogOff", "Account")" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="dropdown-item"><i class="fas fa-power-off mr-2"></i>Logout</button>
                    </form>

                </div>
            </li>}

                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">All Vehicle Models </h2>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row" id="vehicle-container">
                            @foreach (var item in Model)
                            {
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="product-thumbnail">
                        <div class="product-img-head">
                            <div class="product-img">
                                <img src="@item.ModelImages.First().GetAllImages().First()" alt="" class="img-fluid">
                            </div>
                            <div class="ribbons"></div>
                            <div class="ribbons-text">New</div>

                        </div>
                        <div class="product-content">
                            <div class="product-content-head">
                                <h3 class="product-title">  @Html.DisplayFor(modelItem => item.ModelName)</h3>
                                <div class="product-rating d-inline-block">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </div>
                                <div class="product-price">&dollar; @Html.DisplayFor(modelItem => item.Vehicles.First().SalePrice)</div>
                            </div>
                            <div class="product-btn">

                                @Html.ActionLink("Detail", "VehicleModelDetail", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                            </div>
                        </div>
                    </div>
                </div>}

                        </div>
                        @*<div class="page-separate text-center">
                                <p class="page-separate-text">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>

                                @Html.PagedListPager(Model, page => Url.Action("ListVehicle", "ShowRoom", new { page }))
                            </div>*@

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="product-sidebar">
                            <div class="product-sidebar-widget">
                                <h4 class="mb-0">Vehicle Filter</h4>
                            </div>
                            <div class="product-sidebar-widget">
                                <h4 class="product-sidebar-widget-title">Brand</h4>
                                @foreach (var item in listBrands)
                                {
                    <div class="custom-control custom-radio custom-color-red">
                        <input type="radio" id="brand-@item.Id" name="brand" class="custom-control-input" value="@item.Id">
                        <label class="custom-control-label" for="brand-@item.Id">@item.Name</label>
                    </div>}
                            </div>
                            <div class="product-sidebar-widget">
                                <h4 class="product-sidebar-widget-title">Price</h4>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price-1">
                                    <label class="custom-control-label" for="price-1">$$</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price-2">
                                    <label class="custom-control-label" for="price-2">$$$</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price-3">
                                    <label class="custom-control-label" for="price-3">$$$$</label>
                                </div>
                            </div>
                            <div class="product-sidebar-widget">
                                <a href="#" class="btn btn-outline-light">Reset Filter</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            @*Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.*@
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->


    </div>

    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <script>
        const modelRadios = document.querySelectorAll("input[name='modelNumber']");
        const vehiclesContainer = document.getElementById("vehicle-container");
        const brandRadios = document.querySelectorAll("input[name='brand']");

        function updateListVehicle(data) {
            vehiclesContainer.innerHTML = "";
            vehiclesContainer.innerHTML = data;
        }
        //filter by brand
        for (let i = 0; i < brandRadios.length; i++) {
            const currentRadio = brandRadios[i];
            currentRadio.addEventListener("click", e => {
                const id = e.target.value;
                //ajax
                $.ajax({
                    url: "/ShowRoom/ListVehicleModelByBrand/".concat(id),
                    type: "GET",


                    traditional: true,
                    dataType: "html",
                    success: function (data) {
                        updateListVehicle(data);
                    },
                    error: function () {
                        alert("An error has occured!!!");
                    }
                });
            })
        }
        function alertError(e) {

            alert("Can not create sale order for this Vehicle")
        }
    </script>
</body>

</html>




